* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Inter', sans-serif;
}

.page__header {
  display: flex;
  justify-content: center;
  background: #000000;
  padding: 28px 0;

}

.main__banner {
  width: 100%;
  display: block;
}

.top__infocard,
.bottom__infocard {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 96px;
}

.top__infocard__text {
  max-width: 766px;
  margin-bottom: 65px;
}

.top__infocard__title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.top__infocard__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-transform: uppercase;
}


.top__infocard__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.top__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 34px 34px 74px;
}

.top__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  padding: 26px 26px 27px;
  max-width: 350px;
}

.image__top__card__1 {
  display: block;
  margin-bottom: 48px;
}

.image__top__card {
  display: block;
  margin-bottom: 30px;
}

.top__card__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;

}


.card__notebooks {
  background: #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 63px 94px 138px;

}

.img__notebook {
  width: 100%;
  position: relative;
  top: 250px;
}

.middle__cards {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 34px 34px 74px;
  margin-top: 138px;
}

.middle__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  padding: 26px 26px 27px;
  max-width: 432px;
}



.image__middle__card {
  display: block;
  margin-bottom: 30px;

}

.middle__card__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;

}

.bottom__infocard__text {
  max-width: 766px;
  margin-bottom: 65px;
}

.bottom__infocard__tittle {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  margin-bottom: 18px;
}

.infocard__bottom__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}



.bottom__image {
  width: 85%;
}


.page-footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;
  background: #000000;
}

.footer-icons {
  display: flex;
  list-style: none;
  margin-bottom: 16px;
}

.footer-icon {
  margin: 0 8px;
}

.footer-text {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  color: #BDBDBD;
}

@media screen and (max-width: 768px) {

  .main__banner__desktop {
    display: none;
  }

  .bottom__image {
    display: none;
  }

  .bottom__image__mobile {
    width: 100%;
    margin-bottom: 51px;
  }

  .bottom__infocard__tittle {
    font-size: 24px;
    line-height: 20px;
  }

  .infocard__bottom__description {
    max-width: 350px;
    font-size: 16px;
    line-height: 24px;
  }



  .bottom__infocard {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

  }

  .img__notebook1 {
    width: 45%;
    margin: 1px;
  }

  .img__notebook {
    position: relative;
    top: 94px;
  }

  .img__mobile {
    width: 100%;
    margin: 11px;

  }

  .middle__cards {
    flex-wrap: wrap;
    margin-top: 80px;
  }

  .top__cards {
    flex-wrap: wrap;

  }

  .card__notebooks {
    padding: unset;
    flex-wrap: wrap;
    gap: 12px;
  }

  .top__infocard {
    flex-direction: column;
    padding: 19px 31px 67px;
  }

  .top__infocard__title {
    font-size: 20px;
    line-height: 24px;

  }

  .top__infocard__subtitle {
    font-size: 28px;
    line-height: 24px;
  }

  .top__infocard__description {
    padding-top: 19px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .img__top__infocard {
    max-width: 240px;
    width: 100%;
  }

  .page-footer {

    padding-bottom: 26px;

  }

  .footer-text {
    max-width: 280px;
    text-align: center;
  }

}


@media screen and (min-width: 769px) {

  .main__banner__mobile {
    display: none;
  }

  .main__banner {
    padding-bottom: 54px;
  }

  .bottom__image__mobile {
    display: none;
  }



}